*.gguf
/base/__pycache__
/channels/__pycache__
/channels/matrix/__pycache__
/channels/tinode/__pycache__
/core/__pycache__
/core/emailChannel/__pycache__
/core/utils/__pycache__
/database
/llm/__pycache__
/memory/__pycache__
/memory/chat
/memory/database/__pycache__
/plugins/__pycache__
/plugins/Mail/__pycache__
/plugins/News/__pycache__
/plugins/Quotes/__pycache__
/plugins/Weather/__pycache__
/tools/__pycache__
/llama.cpp-master/linux_cpu
/llama.cpp-master/mac
/llama.cpp-master/win_cpu
/llama.cpp-master/win_cuda
/memory/graph/__pycache__
/logs
/logs
/docs/node_modules
/plugins/PptMaker/__pycache__
/hybrid_router/__pycache__
/hybrid_router/__pycache__
/__pycache__
/channels/wechat/__pycache__
/channels/whatsapp/__pycache__
/dist
